{strip}

{include file="{dirname(__DIR__)}/header.html"}

	<div class="vy_lvst_settings_btns">
		<a href="javascript:void(0);" id="vy_lv_block_visitors" class="vy_lvst_settings_btn">{$this->lang['block_mute_viewers']}</a>
		<a href="javascript:void(0);" id="vy_lv_add_moderators" class="vy_lvst_settings_btn">{$this->lang['add_moderators']}</a>
		<a href="javascript:void(0);" id="vy_lv_remove_moderators" class="vy_lvst_settings_btn">{$this->lang['remove_moderators']}</a>
		<a href="javascript:void(0);" id="vy_lv_end_live" class="vy_lvst_settings_btn __endlive">{$this->lang['end_live']}</a>
		
	</div>	
	
	<div class="vy_lvst_setings_dv_cnt"></div>
 
{/strip}