{strip}
{assign var="host_url" value=$this->settings['HOST']}
{if isset($this->wowonder_url)}
{assign var="host_url" value=$this->wowonder_url}
{/if}
<html class="vy-msn-desktop-call-bd">
<head>
<title>{$popup_title}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/x-icon" href="{$host_url}/{$this->recipient['avatar']}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{$this->settings['ASSETS']}/js/calls-popup.js?v={mt_rand()}"></script>
</head>
<body style="display:none;">
{/strip}  