{strip}
	<div class="js_open_messenger_appended_contact __none"></div>
	{assign var=user_details value=$this->getUserDetails($userid)}
	
	{assign var=last_message value=$this->getLastMessage($userid,$page_id,$group_id)}
	{assign var=last_seen value=date(DATE_RFC2822,$user_details['online'])}  
	{assign var=last_seen2 value=date(DATE_RFC2822,$user_details['online'])}  
	{assign var=user_status value=$this->getUserStatus($user_details.user_id)}
	{assign var=fullname value="{$user_details.first_name} {$user_details.last_name}"}
	{assign var=user_show_last_seen value=$user_details.showlastseen}
	{assign var=user_online_privacy value=$user_details.online_status}
	{assign var=avatar value=$this->get_avatar($user_details.avatar)}
	{if $page_id > 0}
	
		{if empty($user_details.first_name)}
		{assign var=ufullname value=$user_details.username}
		{else}
		{assign var=ufullname value="{$user_details.first_name} {$user_details.last_name}"}
		{/if}
		{assign var=get_page_name value=$this->getPageDetails($page_id,1,1)}
		
		{if $get_page_name[1] == $this->USER.id}
			{assign var=fullname value="{$ufullname} ({$get_page_name[0]})"}
		{else}
			{assign var=fullname value=$get_page_name[0]}
			{assign var=avatar value=$get_page_name[2]}
		{/if}
	{else if $group_id > 0}
 
			{assign var=group_details value=$this->getGroupDetails($group_id,1,1)}
			{assign var=fullname value=$group_details[0]}
			{assign var=avatar value=$group_details[2]}
	{else}
	
		{if empty($user_details.first_name)}
		{assign var=fullname value=$user_details.username}
		{/if}
		
	{/if}
	{if $user_status}
	{assign var=last_seen value=date(DATE_RFC2822,time())}
	{/if}
	
	{if !$user_show_last_seen}
	{assign var=last_seen value=""}
	{/if}
	
	{if $page_id > 0}
		{assign var=count_by_user value=$this->getCountByUser($user_details.user_id,$page_id)}
		<script rel="vy_ms__remove_on_dom_ready">
		var __vym_userid = {$user_details.user_id}, __vym_pageid = {$page_id}, __vym_count = {$count_by_user};
		{literal}
		g_messenger_count[__vym_userid+'_'+__vym_pageid] = __vym_count;
		{/literal}
		</script>
	{else if $group_id > 0}
		{assign var=count_by_user value=$this->getCountByUser($user_details.user_id,0,$group_id)}
		<script rel="vy_ms__remove_on_dom_ready">
		var __vym_userid = {$user_details.user_id}, __vym_groupid = {$group_id}, __vym_count = {$count_by_user};
		{literal}
		g_messenger_count['GG'+__vym_groupid] = __vym_count;
		{/literal}
		</script>
	{else}
		{assign var=count_by_user value=$this->getCountByUser($user_details.user_id)}
		<script rel="vy_ms__remove_on_dom_ready">
		var __vym_userid = {$user_details.user_id}, __vym_groupid = 0, __vym_count = {$count_by_user};
		{literal}
		g_messenger_count[__vym_userid] = __vym_count;
		{/literal}
		</script>
	{/if}
	
	{assign var=new_message value=""}
	{assign var=muted value=""}
	
	{if $count_by_user > 0}
		{assign var=new_message value="_newmessages"}
	{/if}	
	
	{if $group_id > 0 && isset($muted_arr.groups[$group_id])}
		{assign var=new_message value=""}
	{/if}
	
	{if $group_id <= 0 && $page_id <= 0 && isset($muted_arr.contacts[$user_details.user_id])}
		{assign var=new_message value=""}
	{/if}
	
	{if (isset($muted_arr.contacts[$user_details.user_id]) && $page_id <= 0 && $group_id <= 0) || isset($muted_arr.groups[$group_id]) || isset($muted_arr.pages[$page_id])}
		{assign var=muted value="__muted"}
	{/if}
	
	<div class="vy_ms_contactbord">																																														
	<a href="/messenger/{if $group_id > 0}g/{$group_id}{else}{$user_details.user_id}{if $page_id > 0}/{$page_id}{/if}{/if}"  data-lastseen="{$last_seen2}" data-last-message-timestamp="{time()}" userfullname="{$fullname}" {if $group_id > 0}id="contact-GG{$group_id}"{else}id="contact-{$user_details.user_id}{if $page_id > 0}_{$page_id}{/if}"{/if} class="pmessenger-contact-a {$new_message} {$muted} {if $group_id > 0}vy_ms_contactisgroup contact_groupid_{$group_id}{/if}" onclick="__j('.pmessenger-contact-a').removeClass('active');__j(this).addClass('active');messenger.openContact(this,event,'{$user_details.user_id}','{$avatar}','{$fullname}','{$last_seen}','{$page_id}','{$group_id}','{$user_show_last_seen}','{$user_online_privacy}');">
	<div  class="js_conv_swipe pmessenger-mleft12">
			<div class="pmessenger-contact-avatar"> 
			
				<img src="{$avatar}" />
				{if $user_online_privacy == '0'}<div class="only_ic global_user_online global_user_online_{$user_details.user_id}">{if $user_status}<span class="ic-online"></span>{/if}</div>{/if}
			</div>
	

			<div class="pmessenger-contact-info">
			
				<div class="pmessenger-contact-name ellip" title="{$fullname}">{$fullname}</div>
				<div class="pmessenger-contact-last-msg ellip _1htf _6zke"><div class="_42dz5 ellip">{if empty($last_message.text)}-{else}{if $last_message.from_id == $this->USER.id}<span class="convo__msgAuthor">{$this->lang['You']}:</span>&nbsp;{/if}{str_replace('&amp;','&',$this->str_messenger(substr($last_message.text,0,150),1,22))}{/if}</div>
				<div class="pmessenger-contact-last-msg-time"><div class="_6zkf">&#8729;</div><span class="_1ht7 _6zkh timestamp">{if empty($last_message.time)}-{else}{$this->lastMessageConvertTime($last_message.time)}{/if}</span></div>
				</div>
				<div class="vy_ms__contactmuted">{$svgi.contacts.muted}</div>
				{if isset($last_message.seen) && $group_id <= 0}
				
				
					{if $last_message.from_id == $this->USER.id}
						<div class="_3fx44cc">
							{if $last_message.seen > 0}
								<div class="_3fx45cc" style="background-image:url({$avatar});"></div>
							{else}
								<div class="contact-messenger_sent_Status"><i class="glyphicon contact-messenger-sent-ic glyphicon-ok-sign"></i></div>
							{/if}
								</div>
							{/if}
							
					{else if isset($last_message.group_seen) && $group_id > 0}
					 
						<div class="_3fx44cc">
							{if !empty($last_message.group_seen)}
								<div class="_3fx45cc" style="background-image:url({$avatar});"></div>
							{else}  
								<div class="contact-messenger_sent_Status"><i class="glyphicon contact-messenger-sent-ic glyphicon-ok-sign"></i></div>
							{/if}
							</div>
					{/if}
				{if $count_by_user > 0}<div class="convo__unread oval in_messenger">+{$count_by_user}</div>{/if}
			</div>
	</div>
	<div class="mob_delete_on_swipe js_mob_delete_conv_btn"><div title="{$this->lang['pm_delete_convers']}" {if $group_id > 0}id="{$group_id}"{/if} class="mob_del_swipe_txt js__mob_del_conv_ids {if $group_id > 0}js__isgroup{/if}">{if $group_id > 0}{$this->lang['Messenger_confirm_btn_leaving_group']}{else}{$this->lang['del_pm']}{/if}</div></div>
	</a>
	</div>

{/strip}