{strip}
	<section class="js_messenger_sdata js_mess_hidden_data">
		<input id="messenger_recipient_name" value="" type="hidden" />
		<input id="messenger_recipient_avatar" value="" type="hidden" />
		<input id="messenger_with_user" value="" type="hidden" />
		<input id="messenger_with_page" value="" type="hidden" />
		<input id="messenger_with_group" value="" type="hidden" />
		<input id="messenger_group_nickname" value="" type="hidden" />
		<input id="messenger_page_admin" value="no" type="hidden" />
		<input id="is_chat_with_page" value="none" type="hidden" />
		<input type="hidden" id="mess-curr-color" value="#766" />
		<input type="hidden" id="mess-curr-theme" value="blue" />
		<input type="hidden" id="mess-roomid" value="" />
		<input type="hidden" id="upload_room_id" value="" />
		<input type="hidden" id="vy_ms__lastmsg_timestamp" value="" />
		<img class="js__group_avatar __none" />
		<img id="inphd_page_avatar" class="__none" />
</section>
		<div class="pmessenger-msg-list-header" id="pmessenger-contact-header"></div>
		<div class="ywvji4ppi"></div>
		<div class="rr3253cvx25gfg">
		<div class="pmessenger-messages-cnt-bef rr3253cvx25gfgv2" id="vy-msn-content-bg">
		<div role="none" class="ns4p8fja j83agx80 cbu4d94t a6sixzi8 bkfpd7mw d2edcug0 buofh1pr nred35xi"></div>
		<div id="pmessenger-messages-cnt">

					<div class="recording_microphone_gif __none"><i class="mes_rmgif"></i></div>
					<div id="messenger-search-result"><div class="vy_msn_search_cnt"></div></div>
					<div id="messages-tick"></div>
								
				<div class="vymsn_smart_replies" id="vymsn_smart_replied_cnt"></div>	
		</div></div>
		<div role="none" class="bo25c nred35xi2 __none"></div>
		</div>
		<!-- attach files -->
		<div id="messenger-link-preview"></div>
		<div class="WD_attached_tracks _PM" id="WD_tracks_PM"><ul></ul></div>
		<div class="jb_attached_files __messages" id="WD_attach_files_PM"></div>
		<input type="hidden" value="" class="__none hookData" id="last-message-datetime" />

		<div class="vt432343">
			<button type="button" class="button_voice_recorder secondary round" onclick="messenger.startRecordingEvents(event,this,' + (i_shortcut ? 1 : 0) + ', ' + group_id + ');" id="messenger-recording-button" aria-label="Record voice message" title="Record voice message" style="">
				{$this->svgs['microphone_voice_recorder']}
			</button>
{/strip}