{strip}
<div id="timer--mobBstream" class="timerWrapperDesktop--KsoHd __none">
    <div class="container--FhyiW"><svg viewBox="0 0 90 90" class="svgCounterContainer--6zdJe">
            <defs>
                <radialGradient cx="50%" cy="50%" fx="50%" fy="50%" r="50%" id="CircleTimerOuterGradient-0.05405807038057442">
                    <stop stop-color="#000" stop-opacity="0.5" offset="0%"></stop>
                    <stop stop-color="#000" stop-opacity="0.35" offset="60%"></stop>
                    <stop stop-color="#000" stop-opacity="0" offset="100%"></stop>
                </radialGradient>
                <radialGradient cx="50%" cy="50%" fx="50%" fy="50%" r="50%" id="CircleTimerInnerGradient-0.05405807038057442">
                    <stop stop-color="#000" stop-opacity="0.5" offset="0%"></stop>
                    <stop stop-color="#000" stop-opacity="0.15" offset="85%"></stop>
                    <stop stop-color="#000" stop-opacity="0" offset="100%"></stop>
                </radialGradient>
                <mask id="CircleTimerMask-0.05405807038057442">
                    <g transform="rotate(-126 45 45)" style="transform-origin: center center; transition: transform 1s linear 0s; will-change: transform; transform: rotate(-126deg);">
                        <rect fill="#FFF" x="0" y="0" width="90" height="90"></rect>
                        <radialGradient id="TailGradient-0.05405807038057442">
                            <stop offset="0.55" stop-color="#000"></stop>
                            <stop offset="1" stop-color="#FFF">
                                <animate attributeName="offset" begin="9999999999s" end="0s" dur="2s" from="1" to="0.65" repeatCount="indefinite"></animate>
                            </stop>
                        </radialGradient>
                        <circle cx="67.5" cy="5" r="45" fill="url(#TailGradient-0.05405807038057442)"></circle>
                        <rect fill="#FFF" x="45" y="0" width="45" height="90"></rect>
                    </g>
                </mask>
            </defs>
            <circle r="39" cx="45" cy="45" fill="url(#CircleTimerOuterGradient-0.05405807038057442)" fill-rule="evenodd"></circle>
            <circle r="40" cx="45" cy="45" fill="url(#CircleTimerInnerGradient-0.05405807038057442)" fill-rule="evenodd"></circle>
            <g class="">
               
			   <circle r="39" cx="45" cy="45" fill="none" stroke-width="2" stroke="rgb(0, 255, 108)"></circle>
                <circle r="39" cx="45" cy="45" fill="none" stroke-width="2" stroke="rgb(0, 255, 108)"></circle>
                <circle r="39" cx="45" cy="45" fill="none" stroke-width="5" stroke="rgba(10, 230, 103, 0.9)"></circle>
            </g>
        </svg><svg viewBox="0 0 90 90" class="svgTextContainer--DNENV" preserveAspectRatio="xMidYMid meet"><text class="time--9erGI" id="mob_ready_countdown-number2" fill="#fff" font-size="40" text-anchor="middle" x="50%" y="50%" dy="0.35em">5</text></svg></div>
</div>
{/strip}