{strip}


	<div class="vy_lv_dashboard vy_lvst_js__dashboard">
	
		<div class="vy_lv_dashboard1">
			
			<div class="vy_lv_a0558xt"><div onclick="vy_lvst.beforeStopLive();" class="vy_lv_r">{$this->svg['shutdown']}</div><div class="vy_lv_542f vy_lv_a8t">{$this->lang['dashboard']}</div><div class="vy_lv_timer js__vy_lv_timer">00:00</div></div>


	 
			<div class="vy_lvst_a35if" onclick="vy_lvst.openSettings(this,event,{$id});"><span class="vy_l_45f">{$this->svg['settings']}</span><span class="vy_l543">{$this->lang['settings']}</span></div>
 
			

				<div style="display: none;" class="vy_lv_a8t">{$this->lang['live_events']}</div>



				<div class="vy_lv_a8t_container">
				        
				        <div class="vy_lv_a8t_header">{$this->lang['live_events']}</div>
				    <div class="vy_lv_a8t_line"></div> 
				</div>



				<div class="vy_lv_comments-section" id="vy_lv_comments_section">
				
				</div>
 
				<div class="vy-lv-comments-section js__vy-lv-comments-section">
				<input type="text" class="vy-lv-inputfantom js__inputfantom" onclick="vy_lvst.addCommentTxtarea(this,event,'{$id}');" onfocus="vy_lvst.addCommentTxtarea(this,event,'{$id}');" placeholder="{$this->lang['add_comments']}" />
				</div>
			

			
			
			
		</div>
	
	
	</div>



{/strip}