{strip}

 
<div class="vy_lv_a2" onclick="vy_lvst.makeFullScreen(event);">

	
	
	<div class="vy_lv_a3vs">
		<div class="vy_lv_a5v" id="vy_lv_rtmpv">  
		
		<div class="vy_lv_reactions_floating __dashboard" id="vy_lv_reactions_floating"></div>
  		<div id="vy_lv_productauthor_preview"></div>
  			<div class="vy_lv_dashboard_llv_vvw_tm __none js__au4x2">
			
				<div class="vy_lv_dsh_llv_vvw">{$this->svg['live']}&nbsp;<div class="vy_lv_eyes">{$this->svg['eye']}&nbsp;<span class="js__vylv_count2_viewers">0</span></div></div>
				<div class="vy_lv_dsh_tm js__vy_lv_dsh_tm">00:00</div>
			
			</div>
  
 
			
			<canvas id="vy-lv-cover" style="display:none;"></canvas>
			<video  autoplay playsinline muted id="vy_lv_main_videoel"></video>
					<div id="vy_lv_a17cam_wait_stream" class="__none">
						<div class="vy_lv_a18camsvg">{$this->svg['camera']}</div>
						<div class="vy_lv_a19camt">{$this->lang['connect_streaming_soft_to_go_live']}</div>
					</div>
			<div class="vy_lv_a17cam">
				
					<div class="vy_lv_a18camsvg">{$this->svg['camera']}</div>
					<div id="vy_lv_a17cam_wait">
						<div class="vy_lv_a19camt">{$this->lang['waiting_for_camera']}</div>
					</div>
 
				<div id="vy_lv_camera_err_msg_markup"></div>
				
			</div>
		</div>

		
		
				<section id="vy_lv_mob_opinv_comm" class="vy_lv_mob_opinv_comm __none">
				<div class="vy_lv_comments-section" id="vy_lv_comments_section"></div>
				</section>
				
 
	
		

		<section class="vy_lv_mob_footer">
		
			<div class="vy_lv_mob_f_btns">
			
				<div class="vy_lv_mob_a1">
			
					<div class="vy_lv_o_btn" id="vy_lv_mob_st_btn">{$this->svg['mob_settings']}</div>
			
			 
			
			
					
						
										<div id="vy_lv_mob_recording_btn" class="vy_lv_button_start_rec">
											<div class="vy_lv_button_start_rec__inner1">
											  <div class="vy_lv_button_start_rec__inner2"></div>
											  </div>
											</div>
					
				 
				
					 
					
						<div class="vy_lv_o_btn __disabled" disabled id="vy_lv_mob_flip_btn">{$this->svg['flip_camera']}</div>
					
					</div>
			</div>
		</section>
		{include file="{dirname(__FILE__)}/countdown.html"}
	</div>
 
	

</div>

{include file="{dirname(__FILE__)}/ripple-mob-gotohome.html"}
 
 


{/strip}