{strip}
<div id="vy_lv_recordplayer_id_parent_{$r.id}" class="vy_lv_feedrecorded_vd" style="display:none;">
<video id="vy_lv_recordplayer_id_{$r.id}" poster="{$r['full_cover_url']}" muted autoplay playsinline>
    <source src="{$r['full_file_path']}" type="video/mp4" />
</video>
</div>
<script type="text/javascript">
(function() {
var player_id = {$r.id}, player_opts = {};

player_opts[player_id] = {};
player_opts[player_id]['fpath'] = "{$r['full_file_path']}";
player_opts[player_id]['poster'] = "{$r['full_cover_url']}";
{literal} 
player_opts[player_id]['f'] = function(){
$('#vy_lv_player_loading_'+player_id).remove();

player_opts[player_id] = fluidPlayer(
'vy_lv_recordplayer_id_'+player_id, {
  "layoutControls": {
    "primaryColor":"red",
    "controlBar": {
      "autoHideTimeout": 3,
      "animated": true,
      "autoHide": true,
      "playbackRates": [
        "x2",
        "x1.5",
        "x1",
        "x0.5"
      ]
    },
    "autoPlay": true,
    "mute": true,
    "allowTheatre": true,
    "playPauseAnimation": false,
    "playbackRateEnabled": true,
    "allowDownload": false,
    "playButtonShowing": true,
    "fillToContainer": true,
    "posterImage": player_opts[player_id]['poster']
  },
  playerInitCallback:     (function() {  })
});
  $('#vy_lv_recordplayer_id_parent_'+player_id).show(); 
}     
$(document).ready(function(){
player_opts[player_id]['f'](); 
});

})();      
{/literal}
</script>


{/strip}