{strip}
{assign var=broadcast value=$this->getBroadcastData($r.post_id)}
{assign var=df_price value=$r.price}
{if $r.discount_price}
{assign var=df_price value=$r.discount_price}
{/if}

{if !(strpos($r.price, ".") !== false)}
{assign var=df_price value="{$df_price}.00"}
{/if}
<div id="vy_lv_product_loading_details"></div>
<div class="vylvproducfull231Ub__2" id="vy_lv_product_cntload" style="display:none;">

<div class="vy_prod_full_details span_643245 col2121">

<div class="vy_lv_proddesktop_header">
	<div class="_1inYX">{$categ_full_text}</div>
	<div class="_3ZZ7s">{$r.name}</div> 
</div>
<ul class="vbreio32">
	{if $r.active}
		<li class="vtyr2_instock">{$this->lang['product_in_stock']}<span class="iqos2-Gc-b33">&nbsp;&bull;&nbsp;<span id="vyprodfullszieunit">{$r.units}</span>&nbsp;{$this->lang['product_units']}</span></li>
	{else}
		<li class="vtyr2_instock _out">{$this->lang['product_out_of_stock']}</li>
	{/if}

	{if !empty($r.location)}
	{assign var=prod_location_data value=$this->getProductLocation($r.location)}
	{if !$prod_location_data['empty']}
	<li class="vyew214_loc"><span class="dsf2222_DgD">{$this->lang['product_view_location']}:&nbsp;<span class="vy_prodlocationcountryf14__DQQ">{$prod_location_data['data']['continent_name']}&nbsp;&rarr;&nbsp;<i class="flag-icon flag-icon-{strtolower($prod_location_data['data']['country_code'])} mr-1"></i>{$prod_location_data['data']['country_name']}</span></span></li>
	{/if}
	{/if}
</ul>
<div class="_2BbPd">

<div>
	{if $r.discount_price}
	<div class="_8RGRb">${$r.discount_price}{if !(strpos($r.discount_price, ".") !== false)}.00{/if}<div class="F-YKM">${$r.price}{if !(strpos($r.price, ".") !== false)}.00{/if}</div></div>
	{else}
	<div class="_8RGRb2">${$r.price}{if !(strpos($r.price, ".") !== false)}.00{/if}</div>
	{/if}
	{if $seller['id'] != $this->userid}
	<div class="vylvprodaddtocartglbtn"> 
	<div class="vy_prod_addtocart">



		<div href="javascript:void(0);" {if !$this->productIsInCart($r.pid)}style="display: none;"{/if} id="vy_lv_fullsizemodalproduct_addedtocart_1343" class="cd-add-to-cart _remove">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-check-fill" viewBox="0 0 16 16">
  <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z"/>
</svg>
		{$this->lang['product_exist_in_your_cart']}</div>

		<a href="javascript:void(0);" id="vy_lv_fullsizemodalproduct_addtocart_1343" {if $this->productIsInCart($r.pid)}style="display: none;"{/if} class="cd-add-to-cart js-cd-add-to-cart" units="{$r.curunits}" data-productmaxunits="{$r.maxunits}" data-productimg="{$image}" data-productid="{$r.pid}" data-productname="{$r.name}" data-price="{$df_price}" onclick="vy_lvst.exitFromStream({$r.post_id});$('#vy_lv_fullsizemodalclose').trigger('click');AddProductToCart(this,'{$r.pid}','add');">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
  <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z"/>
</svg>
		{$this->lang['product_add_to_cart']}</a>

	</div>
</div>
{/if}
</div>



<div id="vy_lv_prod_full_description" class="_2qA7f {if strlen($r.descr) >= 180}maxtxt{/if}">
	<div id="vy_lv_prod_full_descriptionWrapper">
		<span class="">
  				{$r.descr}
			</span>
		</div>
	</div>

{if strlen($r.descr) >= 180}
<div onclick="toggleProductDescription(event,1);" id="vy_lv_product_read_more" class="_1VKoz">{$this->lang['product_read_more']} <i class="fa fa-chevron-down GSSIm" aria-hidden="true"></i></div>
<div onclick="toggleProductDescription(event);" style="display: none;" id="vy_lv_product_read_less" class="_1VKoz">{$this->lang['product_read_less']} <i class="fa fa-chevron-up GSSIm" aria-hidden="true"></i></div>
{/if}

</div>

{if $broadcast.ended == 'yes'}
<div class="_1u9C3">{$this->lang['product_as_seen_on']}</div>

<div class="js__v3320ap_DdAl"><div class="_1RwgS"><div id="video-row" class="HLTIe">

	<a class="_39UgG" id="vy_lv-prod_playerlbghx" href="javascript:void(0);" style="width: calc(31.3333%); padding: calc(31.3333%) 0px 0px;">


<video style="background-color: #000;" class="_2Af14" poster="{$broadcast.full_cover_path}" autoplay muted playsinline loop>
  <source src="{$broadcast.full_file_path}" type="video/mp4">
Your browser does not support the video tag.
</video> 
 <div class="GQYit">

	<i>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
</svg>		
	</i>


</div></a></div></div></div>
 
{include file="./popups/fullsizemodal/player-lightbox.html"}
{/if}

<div class="vyprod_F331x2WGaBB">

	<div class="vyprod_F331x2WGa">{$this->lang['product_shipping_continents']}</div>

	<div class="vy_lv_continentsshipping_sect">
		{$this->productShippingContinents($r.shipping_countries)}
	</div>

</div>
            
{if $seller['id'] != $this->userid}
<div class="vyprod_F331x2WGaBB">

	<div class="vyprod_F331x2WGa">{$this->lang['product_contact_number']}</div>

	<div class="vy_lv_continentcontact_sect">
	<div>
		<div class="vy_lv_contact_email"><a href="mailto:{$seller['email']}?subject={$r.name}"><i class="fa fa-inbox" aria-hidden="true"></i><span>{$this->lang['product_contact_email']}</span></a></div>
		<span>&nbsp;&bull;&nbsp;</span>
		<div class="vy_lv_phone_number_contact_productcls" id="vy_lv_phone_number_contact_product"><A href="tel:{$r.contact}"><span>{$this->lang['product_contact_phone']}</span></A><a class="vy_lv_prod_sellershownmb" onclick="Swal.fire('{$r.contact}','','info');" href="javascript:void(0);"><span>({$this->lang['show_seller_phonenumber']})</span></a></div>
	</div>
	</div>

</div>
{/if}


{if $broadcast.ended == 'yes'}
<div id="vylv_waooID002">
{include file="./popups/fullsizemodal/comments.html"}
</div>
{/if}

<div class="vyprod_F331x2WGaBB">
	<div class="vy_prod_fullfooter_by">
		<div class="vyproduB21iskkk_111">
		{$this->lang['product_onsale_by']}&nbsp;<a target="_blank" href="livestream/u/{$seller['id']}"><img src="{$seller['avatar']}" /><span>{$seller['fullname']}</span></a>
	</div>
	</div>
</div>


</div>



<div class="vylvproduct_full_slider span_235325 col2121">
<div class="vy_lv_prod_mob_header">
	<div class="_1inYX">{$categ_full_text}</div>
	<div class="_3ZZ7s">{$r.name}</div> 
</div>
<div id="rs_simplegallery" class="royalSlider rsDefault vy_rs_productslider">
	{foreach $files as $file}

	{if substr($file, strrpos($file, '.')+1) == 'mp4'}

  	<a class="rsImg" data-rsvideo="{$this->getProductFilesPath($r.user_id)}{$file}" href="{$this->getProductFilesPath($r.user_id,1)}/{basename($file, 'mp4')}jpg">{$r.name}
		<img width="96" height="72" class="rsTmb" src="{$this->getProductFilesPath($r.user_id,1)}/{basename($file, 'mp4')}jpg" />
  	</a>

	 {else}
 
  		    <a class="rsImg" data-rsbigimg="{$this->getProductFilesPath($r.user_id)}{$file}" href="{$this->getProductFilesPath($r.user_id)}{$file}"
  		    	>{$r.name}<img width="96" height="72" class="rsTmb" src="{$this->getProductFilesPath($r.user_id)}thumbnail/{$file}" /></a>
	 {/if} 
	{/foreach}

 
</div>
{if $seller['id'] == $this->userid}
<button onclick="vy_lvst.changeProductDefaultImage(event,{$r.id});" id="v34ooal__dD2GfAF" class="viII110d_DD">{$this->lang['set_product_cover']}</button>
{/if}


{if $broadcast.ended == 'yes'}
<div id="vylv_waooID001">
{include file="./popups/fullsizemodal/comments.html"}
</div>
{/if}


{literal}
<script>
 __j("#vy_lv_phone_number_contact_product").intlTelInput({
    autoHideDialCode:false,
    nationalMode: false
    });
function showCountriesOfContinent(ev,el){
ev.preventDefault();
ev.stopImmediatePropagation();

let target = __j(el.rel), i = __j(el).find('i');      

__j('.vylvproducontin2fFhP2__D1').not(target).slideUp();
target.slideToggle();

if(i.hasClass('fa-chevron-down')){
__j('.GSSIm2:not(.fa-chevron-down)').addClass('fa-chevron-down');
i.switchClass("fa-chevron-down", "fa-chevron-up");
} else {
__j('.GSSIm2:is(.fa-chevron-up)').addClass('fa-chevron-up');
i.switchClass("fa-chevron-up", "fa-chevron-down");
}

 

}
 
function toggleProductDescription(e,expand){

const descr = __j('#vy_lv_prod_full_description');
const read_more = __j('#vy_lv_product_read_more');
const read_less = __j('#vy_lv_product_read_less');
if(expand){

read_more.hide();
read_less.show();
descr.addClass('_1EOaj').scrollTop(0);

} else {
read_more.show();
read_less.hide();
descr.removeClass('_1EOaj').scrollTop(0);
}

}
</script>
<style>
#rs_simplegallery {
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;  
  user-select: none;
}

.rsDefault.vy_rs_productslider, .rsDefault.vy_rs_productslider .rsOverflow, .rsDefault.vy_rs_productslider .rsSlide, .rsDefault.vy_rs_productslider .rsVideoFrameHolder, .rsDefault.vy_rs_productslider .rsThumbs{

	background: #f9f9f9;
}

.rsDefault.vy_rs_productslider .rsThumb img {
 
    object-fit: contain;
    background-color: #2f2f2f;
}
.rsDefault.vy_rs_productslider .rsThumb.rsNavSelected {
    background: transparent;
}
.rsDefault.vy_rs_productslider .rsThumb img {
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.rsDefault.vy_rs_productslider .rsThumb.rsNavSelected img {
    opacity: 1;
    filter: alpha(opacity=100);
}

</style>

</div>

{/literal}
{/strip}