{strip}

<section  id="vy_lv_fullsizemodal" class="vy_lv_d_IJ12kf animate__animated animate__slideInUp">
	

	<div id="vy_lv_fullsizemodalclose"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="&#10;">
        <path id="x" d="M18.717 6.697l-1.414-1.414-5.303 5.303-5.303-5.303-1.414 1.414 5.303 5.303-5.303 5.303 1.414 1.414 5.303-5.303 5.303 5.303 1.414-1.414-5.303-5.303z"/></svg>
	</div>

	<Div id="vy_lv_fullsizemodalcnt" class="vy_lv_fullsizemodalcnt">
		<div class="vylv1231U row124324">

		 <!-- content -->

		</div>
	</Div>

</section>
 
{/strip}